.heading {
  margin-bottom: 8px;
}

.textMargin {
  margin-bottom: 32px;
}

.sectionTitle {
  margin-bottom: 16px;
}

.fieldset {
  margin-bottom: 60px;
}

.cartWrapper {
  margin-bottom: 40px;
}

.cartItem {
  margin-bottom: 20px;
}